/* Sets up a container within a container which always maintains 
the aspect-ratio 10:16, no matter the window size ; also sets keeps 
this container centred */

body{
  margin:0;
  background:#1B1B1A;
}

.container-centred {
/*  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width:100%;*/
}

.container-board {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container-aspect-ratio:after {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100vh;
}

.container-aspect-ratio > .content {
    position:relative;
    width:90%;
    margin:auto;

  text-align:center;
}

.hidden {
  display:none;
}

@media screen and (min-aspect-ratio: 1/1) {
/* when the screen goes too wide make a vertical div */
  .container-centred {
    position:relative;
    width:90%;
    margin:auto;
  }
  .container-board {
    position: absolute;
    left: 25%;
    width:45%;
    margin:auto;
  }
  .container-aspect-ratio:after {
    padding-top: 100vh;
  }
}


/* Some sizes based on screen height (100vh = 100% screen height) 
  these are all just guesses though... might not work on some machines? */
h1 {
  font-size:8vh;

}

#rules h1 {
  margin:1vh;
}

h2 {
  font-size:3.5vh;
  margin:.1vh;
}

p {
  width:100%;
  margin:auto;
  font-size:2.2vh;
}

#main-menu h1 {
  font-size:8vh;
  color:white;
  line-height:10vh;
  font-family: 'Nyala';
  font-weight: normal;
  font-style: normal;
}

#main-menu h2 {
  font-size:5vh;
  margin:5%;
  font-family: 'Nyala';
  font-weight: normal;
  font-style: normal;
}

/* Radio Buttons */


form h4 {
  margin-bottom:.2vh;
  margin-top:.2vh;
  font-size:5vh;
}

.table-row{
  display:table;
  border-spacing:1.5vh;
  width:90%;
  color: white;
  margin:auto;
  /*background:#222;*/
  font-size:5vh;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
  display:table-cell;
  padding:4px;
  border-radius:5vh;
  background:#222;
  /*box-shadow: -.1vh .1vh 0px #888888;*/
}
input[type="radio"]:checked + label {
    background:#492;
    position: relative;
    top: -.3vh;
    right:-.3vh;
    color:white;
    box-shadow: -.3vh .3vh .1vh #222;
    /* #655C25 */
}
input[type="radio"]:disabled + label {
    background:#888;
    color:black;
    /*box-shadow: -.1vh .1vh 0px #666;*/
}
/* Full width buttons */

.table-row .button {
  display:table-cell;
  border-radius:1vh;
  background: #476584;
  box-shadow: -.3vh .3vh .1vh #222;
  font-size:3vh;
}

.button.back{
  background: #476584;

}
/* Lattice Board */

#lattice-board{
  overflow:auto;
  background-image:url(js/board.png);
    background-size:92.8%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.board_place {
  position:relative;
  float: left;
  width: 16.6666666%;
  padding-bottom:16.6666666%;
}

.piece {
  width:50%;
  height:50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  border-radius: 50%;
}

.piece:not(.o):not(.x):hover {
  border-color:#00DD55;
  border-width:5px;
  border-style:solid;
}

.o {
  background-image:url(js/white-player.png);
    background-size: 100% 100%;
}

.x {
  background-image:url(js/black-player.png);
    background-size: 100% 100%;
}

.piece.winning{
  border-style:solid;
  border-width:0.5%;
  border-color:#CC3300;
}