#start-screen{
	overflow:auto;
	background:#C77B4B;
}
#lattice-board{
	overflow:auto;
	background-image:url(js/board.png);
	
}

@media all and (orientation: landscape){
	#lattice-board{
		margin:auto;
		max-width:600px;
	}
}

@media all and (orientation: portrait) { 
	#lattice-board{
		margin:auto;
		max-width:600px;
	}
}

.board_place {
	position:relative;
	float: left;
	width: 16.6666666%;
	padding-bottom:16.6666666%;
}

.piece {
	width:50%;
	height:50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
	border-radius: 50%;
}

.piece:not(.o):not(.x):hover {
	border-color:#00DD55;
	border-width:5px;
	border-style:solid;
}

.o {
	background-image:url(js/white-player.png);
		background-size: 100% 100%;
}

.x {
	background-image:url(js/black-player.png);
		background-size: 100% 100%;
}

.piece.winning {
	border-color:#F8FF00;
}

/* grid generation stuff */

.vertical-and-horizontal {
	   background:  linear-gradient(90deg, transparent 48%, #000 48%, #000 52%, transparent 52%),
              		linear-gradient(0, transparent 48%, #000 48%, #000 52%, transparent 52%);
}

.vertical-down-horizontal-right {
	background: linear-gradient(90deg, #ddd 48%, transparent 48%),
	            linear-gradient(0, transparent 52%, #ddd 52%),
	            linear-gradient(90deg, transparent 48%, #000 48%, #000 52%, transparent 52%), 
	            linear-gradient(0, transparent 48%, #000 48%, #000 52%, transparent 52%);
}

.vertical-down-horizontal-left {
	background: linear-gradient(90deg, transparent 52%, #ddd 52%),
                linear-gradient(0, transparent 52%, #ddd 52%),
                linear-gradient(90deg, transparent 48%, #000 48%, #000 52%, transparent 52%),
                linear-gradient(0, transparent 48%, #000 48%, #000 52%, transparent 52%);
}

.vertical-up-horizontal-right {
	background: linear-gradient(90deg, #ddd 48%, transparent 48%),
	            linear-gradient(0, #ddd 48%, transparent 48%),
	            linear-gradient(90deg, transparent 48%, #000 48%, #000 52%, transparent 52%), 
	            linear-gradient(0, transparent 48%, #000 48%, #000 52%, transparent 52%);
}

.vertical-up-horizontal-left {
	background: linear-gradient(90deg, transparent 52%, #ddd 52%),
                linear-gradient(0, #ddd 48%, transparent 48%),
                linear-gradient(90deg, transparent 48%, #000 48%, #000 52%, transparent 52%),
                linear-gradient(0, transparent 48%, #000 48%, #000 52%, transparent 52%);
}

.vertical-and-horizontal-left {
	background: linear-gradient(90deg, transparent 52%, #ddd 52%),
              linear-gradient(90deg, transparent 48%, #000 48%, #000 52%, transparent 52%),
              linear-gradient(0, transparent 48%, #000 48%, #000 52%, transparent 52%);
}

.vertical-and-horizontal-right {
		  background: linear-gradient(90deg, #ddd 48%, transparent 48%),
              linear-gradient(90deg, transparent 48%, #000 48%, #000 52%, transparent 52%),
              linear-gradient(0, transparent 48%, #000 48%, #000 52%, transparent 52%);
}

.horizontal-and-vertical-bottom {
	  background: linear-gradient(0, transparent 52%, #ddd 52%),
              linear-gradient(90deg, transparent 48%, #000 48%, #000 52%, transparent 52%),
              linear-gradient(0, transparent 48%, #000 48%, #000 52%, transparent 52%);
}

.horizontal-and-vertical-top {
	  background: linear-gradient(0, #ddd 48%, transparent  48%),
              linear-gradient(90deg, transparent 48%, #000 48%, #000 52%, transparent 52%),
              linear-gradient(0, transparent 48%, #000 48%, #000 52%, transparent 52%);
}

.horizontal-line {
	background: linear-gradient(0, #ddd 48%, #000 48%, #000 52%, #ddd 52%);
}

.vertical-line {
	background: linear-gradient(90deg, #ddd 48%, #000 48%, #000 52%, #ddd 52%);
}


















