/* Sets up a container within a container which always maintains
the aspect-ratio 10:16, no matter the window size ; also sets keeps
this container centred */
/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
*/
body{
  margin:0;
  background: #fff;
  overflow: hidden;
}

#board {
  position: absolute;
  height: 95vw;
  width: 95vw;
}

input[type="text"].error {
  border: 2px solid red;
  font-size: 0.6em;
  color: red;
}

/* preload image title */
.test {
  display: none;
}

.container-board {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container-aspect-ratio:after {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100vh;
}

.container-aspect-ratio > .content {
  color: #000;
  position:relative;
  width:90%;
  margin:auto;
  text-align:center;
}

.title-container {
  margin-top: 25px;
  text-align: center;
  height: 75px;
  width: 100vw;
}

.gametitle {
  width: 100%;
  height: 100px;
  background: url("/static/img/gametitle_white.svg") no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.loader {
  padding:0;
  margin:0;
  position: fixed;
  text-align: center;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
}


/* Some sizes based on screen height (100vh = 100% screen height)
  these are all just guesses though... might not work on some machines? */
h1 {
  margin-top: 5vh;
  margin-bottom: 10px;
  font-size:8vh;
  font-weight: 100;
  font-family: 'Playfair-Display';
}

h2 {
  font-size:6vh;
  margin-bottom: 3vh;
  margin-top: 5vh;
  font-family: 'Playfair-Display';
  font-weight: 100;
}

p {
  width:100%;
  margin:auto;
  font-size:3vh;
  font-family: "Source Sans Pro";
}

p a {
  text-decoration: none;
  color: #2196F3;
}

#in-game-menu {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

#main-menu h1 {
  font-size:10vh;
  color: #000;
}

#main-menu h2 {
  font-size:5vh;
  margin:6vh;
  font-weight: 100;
  font-family: "Playfair-Display";
}

#play-button {
  display: none;
  position: relative;
  font-size: 3em;
  top: 200px;
  font-family: "Playfair-Display";
}

/* Radio Buttons */
form h4 {
  margin-bottom:.6vh;
  margin-top:.2vh;
  font-size:5vh;
  font-family: 'Playfair-Display';
  font-weight: 100;
}

.table-row{
  display:table;
  border-spacing:1.2vh;
  width:95%;
  color: #000;
  margin:auto;
  font-size:5vh;
  margin: 20px 10px 15px 10px;
}

#time-limit {
  float: right;
}

#timer-icon {
  float: left;
  color: #333333;
}

#timer {
  float: left;
}

input[type="text"] {
    font-size: 4vh;
    float: right;
    width: 50vw;
    border: solid 2px #ccc;
    padding: 10px;
}

input[type="radio"] {
    display:none;
}

input[type="checkbox"] {
  display: none;
  text-decoration: line-through;
}

input[type="checkbox"]:checked + label {
  color: #68bcff;
}

input[type="radio"] + label {
  display:table-cell;
  padding:4px;
  border-radius:0.25vh;
}

input[type="radio"]:checked + label {
    background:#68bcff;
    position: relative;
    color: #fff;
    padding: 5px;
}
input[type="radio"]:disabled + label {
    background:#eee;
    color: #757474;
}
/* Full width buttons */

.table-row .button {
  display: table-cell;
  border-radius: 0.25vh;
  font-size: 5vh;
  text-align: center;
  padding: 0.35em;
  color: #333333;
}

.table-row .timer {
  display:table-cell;
  font-size:4vh;
  text-align:left;
  padding: 0 10px 10px 5px;
}

#timer-black {
  border-bottom: 4px solid #757474;
  color: #000;
  text-shadow: 2px 2px 10px #000;
}

#timer-white {
  border-bottom: 4px solid #b3b3b3;
  color: #f9f9f9;
  text-shadow: 2px 2px 10px #000;
}

/* Tooltips */
[data-tip] {
  position:relative;
}

[data-tip]:before {
  content:'';
  /* hides the tooltip when not hovered */
  display:none;
  content:'';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1a1a1a;
  position:absolute;
  top:30px;
  left:35px;
  z-index:8;
  font-size:0;
  line-height:0;
  width:0;
  height:0;
}
[data-tip]:after {
  display:none;
  content:attr(data-tip);
  position:absolute;
  top:35px;
}
/* Lattice Board */

#lattice-board {
  overflow: auto;
  width: 95vw;
  height: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.board_place {
  position: relative;
  float: left;
  width: 16.6666666%;
  padding-bottom:16.6666666%;
}

.pieceHolder {      /*Class for first click move place holder. Second click to confirm move */
  width:50%;
  height:50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 80%;
}

.piece {
  width:50%;
  height:50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.piece:not(.o):not(.x):hover {
  border-color:#00DD55;
  border-width:0.5%;
  border-style:solid;
}

/* Notes: potential place for the persistent halo on the top-left piece? */

.o {
  background-image:url(/static/img/white-player.png);
    background-size: 100% 100%;
}

.x {
  background-image:url(/static/img/black-player.png);
    background-size: 100% 100%;
}

.piece.winning{
  border-style:solid;
  border-width:0.5%;
  border-color:#CC3300;
}

#lattice-game-message {
  font-size: 3vh;
  width: 90%;
  height: 6vh;
  margin-bottom: -1.5vh;
  margin-left: 2vh;
  color: #cc3300;
  position: relative;
  top: -2.5vh;
  padding: 10px;
}
#timerDisplay {
  font-size: 4vh;
  width:95%;
  height: 4vh;
  margin-left: 2vh;
  color: white;
  position: relative;
}

.hidden {
  display:none;
}

.piece.last_played{
  box-shadow: 0px 0px 1.5vh .5vh rgba(97,170,255,1);
}

@media screen and (min-aspect-ratio: 1/1) {
/* when the screen goes too wide make a vertical div */
  .container-centred {
    position:relative;
    width:70%;
    margin:auto;
  }
  .container-board {
    position: absolute;
    left: 25%;
    width:45%;
    margin:auto;
  }
  .container-aspect-ratio:after {
    padding-top: 100vh;
  }
  .table-row{
    border-spacing:1.2vh;
    width:90%;
    color: white;
    margin:auto;
    font-size:5vh;
  }
}
