/* Sets up a container within a container which always maintains
the aspect-ratio 10:16, no matter the window size ; also sets keeps
this container centred */

body{
  margin:0;
  background:#1B1B1A;
  font-family: 'Playfair-Display'
}

/* preload image title */
.test {
  display: none;
}

.container-board {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container-aspect-ratio:after {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100vh;
}

.container-aspect-ratio > .content {
  color: #DDD;
  position:relative;
  width:90%;
  margin:auto;
  text-align:center;
}

.title-container {
  margin-top: 25px;
  text-align: center;
  height: 75px;
  width: 100vw;
}

.gametitle {
  width: 100%;
  height: 100px;
  background: url("/static/img/gametitle_white.svg") no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.loader {
  padding:0;
  margin:0;
  position: fixed;
  text-align: center;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
}


/* Some sizes based on screen height (100vh = 100% screen height)
  these are all just guesses though... might not work on some machines? */
h1 {
  margin-top: 8vh;
  font-size:8vh;
  font-weight: 100;

}

h2 {
  font-size:6vh;
  margin-bottom: 3vh;
  margin-top: 5vh;
}

p {
  width:100%;
  margin:auto;
  font-size:3vh;
}

#main-menu h1 {
  font-size:10vh;
  color:white;
}

#main-menu h2 {
  font-size:5vh;
  margin:6vh;
  font-weight: normal;
  font-style: normal;
}

#play-button {
  display: none;
  position: relative;
  font-size: 3em;
  top: 200px;
}

/* Radio Buttons */


form h4 {
  margin-bottom:.6vh;
  margin-top:.2vh;
  font-size:5vh;
}
.table-row{
  display:table;
  border-spacing:1.2vh;
  width:80%;
  color: white;
  margin:auto;
  font-size:5vh;
}
input[type="text"] {
    font-size: 4vh;
}
input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
  display:table-cell;
  padding:4px;
  border-radius:5vh;
  background:#222;
}
input[type="radio"]:checked + label {
    background:#492;
    position: relative;
    top: -.3vh;
    right:-.3vh;
    color:white;
    box-shadow: -.3vh .3vh .1vh #222;
}
input[type="radio"]:disabled + label {
    background:#888;
    color:black;
}
/* Full width buttons */

.table-row .button {
  display:table-cell;
  border-radius:1.5vh;
  background: #476584;
  box-shadow: -.3vh .3vh .1vh #222;
  font-size:4vh;
  text-align:center;
}

.table-row .timer {
  display:table-cell;
  font-size:4vh;
  text-align:left;
}

.button.back{
  background: #476584;

}
/* Lattice Board */

#lattice-board{
  overflow:auto;
  background-image:url(/static/img/board.png);
    background-size:92.8%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.board_place {
  position:relative;
  float: left;
  width: 16.6666666%;
  padding-bottom:16.6666666%;
}

.pieceHolder {      /*Class for first click move place holder. Second click to confirm move */
  width:50%;
  height:50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 80%;
}

.piece {
  width:50%;
  height:50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.piece:not(.o):not(.x):hover {
  border-color:#00DD55;
  border-width:0.5%;
  border-style:solid;
}

/* Notes: potential place for the persistent halo on the top-left piece? */

.o {
  background-image:url(/static/img/white-player.png);
    background-size: 100% 100%;
}

.x {
  background-image:url(/static/img/black-player.png);
    background-size: 100% 100%;
}

.piece.winning{
  border-style:solid;
  border-width:0.5%;
  border-color:#CC3300;
}

#lattice-game-message {
  font-size: 3vh;
  width:95%;
  height: 6vh;
  margin-bottom: -2.5vh;
  margin-left: 3.7vh;
  color: white;
  position: relative;
  top: -2.5vh;
}
#timerDisplay {
  font-size: 4vh;
  width:95%;
  height: 4vh;
  margin-left: 2vh;
  color: white;
  position: relative;
}

.hidden {
  display:none;
}

.piece.last_played{
  box-shadow: 0px 0px 1.5vh .5vh rgba(97,170,255,1);
}

@media screen and (min-aspect-ratio: 1/1) {
/* when the screen goes too wide make a vertical div */
  .container-centred {
    position:relative;
    width:70%;
    margin:auto;
  }
  .container-board {
    position: absolute;
    left: 25%;
    width:45%;
    margin:auto;
  }
  .container-aspect-ratio:after {
    padding-top: 100vh;
  }
}
