svg {
    width: 200px;
    height: 200px;
    position: relative;
    top: 30vh;
}

.test {

}

.loader {
  padding:0;
  margin:0;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 255);
  border-bottom: solid 2px #9E9E9E;
}
